&__touch {
    padding: 1rem;
    &__text {
        font-weight: 300;
        h2 {
            font-size: 2rem;
            font-weight: 400;
            padding: 3rem 0 1rem 0;
            position: relative;
            display: inline-block;
            margin-bottom: 2rem;
            &::after {
                content: "";
                position: absolute;
                width: 110%;
                height: 1px;
                background-color: rgb(189, 189, 189);
                bottom: 0;
                left: 0;
            }
        }
        ul {
            font-size: 1.2rem;
            .fas,
            .far {
                color: rgb(189, 189, 189);
                padding-right: 1rem;
            }
            li {
                padding-bottom: 1rem;
            }
            a {
                text-decoration: none;
                color: inherit;
            }
        }
        p {
            font-weight: 100;
            padding-block: 1rem;
            line-height: 1.5rem;
        }
        p+p {
            font-weight: 200;
            font-style: italic;
            font-size: 1.2rem;
            line-height: 1.7rem;
        }
        &__signature {
            display: flex;
            justify-content: flex-end;
        }
        button {
            color: white;
            background-color: $color_purple;
            border: none;
            width: 55%;
            padding: 1.2rem 1rem;
            border-radius: .5rem;
            display: block;
            margin-top: 1rem;
        }
    }
    &__image {
        padding-block: 1rem;
        img {
            max-width: 100%;
        }
    }
}