&__releases {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding-block: 2rem;
    &__description {
        padding: 1rem;
        flex-basis: 100%;
        p {
            font-weight: 300;
        }
    }
    &__album {
        padding: 1rem;
        flex-basis: 100%;
        img {
            max-width: 100%;
        }
        figcaption {
            display: flex;
            flex-direction: column;
        }
        &__title {
            font-size: 1.5rem;
            padding-block: 1rem;
        }
        &__date {
            font-size: .8rem;
            font-weight: 300;
        }
    }
}