&__discography {
    padding: 3rem 1rem 3rem 1rem;
    color: white;
    text-align: center;
    background-color: turquoise;
    background-image: url('../ressources/images/homepage-latest-releases-background.jpg');
    background-position-y: top;
    background-size: cover;
    background-repeat: repeat-y;
    h2 {
        text-shadow: 0px 0px 5px black;
    }
    @media only screen and (min-width: 768px) {
        &__button {
            button {
                max-width: max-content;
            }
            margin: 0 auto;
        }
    }
    @media screen and (min-width: 1024px) {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 40px;
            background-color: $color_purple;
            top: -20px;
            right: 5%;
        }
        &::after {
            content: '';
            position: absolute;
            width: 10px;
            height: 40px;
            background-color: $color_purple;
            bottom: -20px;
            left: 5%;
            box-shadow: 20px 0px 0px 0px $color_purple;
        }
    }
}