&__discography {
    padding: 3rem 1rem 3rem 1rem;
    color: white;
    text-align: center;
    background-color: turquoise;
    background-image: url('../ressources/images/homepage-latest-releases-background.jpg');
    background-position: 0px -700%;
    background-size: cover;
    background-repeat: repeat-y;
}