&__fanbase {
    background-color: $color_darkgrey;
    &__images {
        padding: 1rem;
        background-image: url('../ressources/images/bg-circle-2.png');
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: bottom;
        background-size: 900%;
        img {
            max-width: 100%;
        }
    }
    &__text {
        padding: 1rem;
        position: relative;
        color: white;
        isolation: isolate;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('../ressources/images/bg-circle-2.png');
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: bottom;
            background-size: 900%;
            transform: rotate(180);
            -moz-transform: rotate(180deg);
            z-index: -1;
        }
        i {
            font-size: 3rem;
            padding-block: 1rem;
        }
        h2 {
            font-size: 2rem;
        }
        h3 {
            font-size: 1.5rem;
            padding-block: 1rem;
        }
        p {
            font-weight: 300;
        }
        &__item {
            text-align: center;
            padding-top: 2rem;
            &:last-child {
                padding-bottom: 2rem;
            }
        }
    }
    &.page_about {
        background-color: rgb(239, 239, 239);
        .main__fanbase__text {
            text-align: center;
            color: black;
            isolation: isolate;
            &::after {
                transform: initial;
                -moz-transform: initial;
                z-index: -1;
            }
            h2 {
                padding-block: 2rem;
            }
        }
    }
}