&__concert {
    padding: 0 1rem 0 1rem;
    color: white;
    text-align: center;
    max-width: $limiter;
    margin: 0 auto;
    &__container {
        background-color: $color_darkgrey;
        background-image: url('../ressources/images/soundwave.jpg');
        background-size: cover;
        background-position-y: center;
        background-blend-mode: lighten;
        border-radius: .5rem;
        padding: 1rem;
        transform: translateY(-1rem);
        h2 {
            font-size: 2rem;
            font-weight: bold;
            padding-block: 1rem;
        }
        &__counter {
            display: flex;
            justify-content: space-around;
            padding: 1rem;
            p {
                font-size: .6rem;
                font-weight: 600;
            }
            p:first-child {
                font-size: 2rem;
                font-weight: 400;
            }
            .seconds {
                display: none;
            }
            @media screen and (min-width:768px) {
                .seconds {
                    display: block;
                }
                p {
                    font-size: .8rem;
                }
                p:first-child {
                    font-size: 3rem;
                }
            }
        }
        @media screen and (min-width:1024px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2rem;
            &__text,
            &__button {
                flex: 0 0 20%;
            }
            &__counter {
                flex: 0 0 50%;
                justify-content: space-between;
                p:first-child {
                    font-size: 4rem;
                    font-weight: 400;
                }
                button {
                    flex-grow: 0;
                    flex-shrink: 0;
                }
            }
        }
    }
    @media screen and (min-width:768px) {
        padding: 0 3rem 0 3rem;
        &__container {
            transform: translateY(-2.5rem);
        }
    }
}