&__about {
    padding: 1rem;
    &__image {
        img {
            border-radius: .5rem;
            height: 100%;
            width: 100%;
        }
    }
    &__text {
        h2 {
            font-size: 2rem;
            padding-block: 1rem;
        }
        p {
            padding-bottom: 1rem;
        }
        q {
            display: block;
            padding-bottom: 1rem;
            font-size: 1.2rem;
        }
    }
}