&__partners {
    font-family: Poppins, sans-serif;
    color: $white;
    text-align: center;
    background-image: url('../ressources/images/homepage-sponsors-background.jpg');
    background-size: cover;
    background-position-y: center;
    padding-block: 2rem;
    &__logos {
        max-width: 768px;
        margin: 0 auto;
        &__ulsponsors {
            padding-block: 1rem;
            display: flex;
            overflow: hidden;
            scroll-behavior: smooth;
            &>* {
                flex: 1 0 100%;
            }
            img {
                max-width: 100%;
            }
            li:nth-child(4) {
                display: list-item;
                visibility: visible;
            }
            @media screen and (min-width: 321px) {
                &>* {
                    flex: 1 0 50%;
                }
            }
            @media screen and (min-width: 769px) {
                &>* {
                    flex: 1 0 25%;
                }
            }
        }
    }
    &__nav {
        @media screen and (min-width: 321px) {
            li:nth-child(even) {
                display: none;
                visibility: hidden;
            }
        }
        @media screen and (min-width: 769px) {
            li {
                display: none;
                visibility: hidden;
            }
            li:nth-child(1),
            li:nth-child(3) {
                display: list-item;
                visibility: visible;
            }
        }
    }
}