@import 'reset';
.header {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__hamburger {
        color: white;
        font-size: 2rem;
        padding: .5rem;
    }
    &__options {
        color: white;
        font-size: 2rem;
        padding: .5rem;
    }
}