@import 'reset';
@import 'vars';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 30px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    font-weight: 500;
}


@import 'header';
.main {
    @import 'main_banner';
    @import 'main_touch';
    @import 'main_concert';
    @import 'main_about';
    @import 'main_discography';
    @import 'main_releases';
    @import 'main_fanbase';
    @import 'main_partners';
    @import 'main_images';
    @import 'main_news';
    @import 'main_subscribe';
}

@import 'footer';