@import 'reset';
@import 'vars';
.header {
    background-color: $color_darkgrey;
    display: flex;
    align-items: center;
    padding: .5rem;
    &__hamburger {
        color: white;
        font-size: 2rem;
    }
    &__logo {
        padding: 0 1rem 0 1rem;
    }
    &__options {
        color: white;
        font-size: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0 0 0 auto;
    }
}

.footer {
    background-color: black;
    align-items: center;
    text-align: center;
    &__nav1 {
        display: flex;
        justify-content: space-around;
        text-transform: uppercase;
    }
}

.main {
    &__banner {
        border: 1px solid black;
        background-image: url('../ressources/images/homapage-banner-img.jpg');
        background-size: cover;
        height: 400px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        &__container {
            h2 {
                font-size: 2rem;
                font-weight: bold;
            }
            h3 {
                font-size: 3rem;
                font-weight: bold;
                -webkit-text-stroke: 2px white;
                color: hsla(0, 0%, 0%, 0)
            }
        }
    }
    &__concert {
        padding: 1rem;
        color: white;
        text-align: center;
        &__container {
            background-color: black;
            border-radius: .5rem;
            padding: 1rem;
            transform: translateY(-3rem);
            h2 {
                font-size: 2rem;
                font-weight: bold;
            }
            &__counter {
                display: flex;
                justify-content: space-around;
                p:first-child {
                    font-size: 2rem;
                }
            }
            button {
                color: white;
                background-color: $color_purple;
                border: none;
            }
        }
    }
}