/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: 30px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

.header {
  background-color: #282828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header > * {
  padding: .5rem 1rem;
}

.header__hamburger {
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.header__options {
  color: white;
  font-size: 2rem;
  margin: 0 0 0 auto;
}

.header__mobile__menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  z-index: 123;
  color: #282828;
  font-family: 'Poppins', sans-serif;
}

.header__mobile__menu.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header__mobile__menu__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__mobile__menu__heading > * {
  padding: .5rem 1rem;
}

.header__mobile__menu__heading__hamburger {
  font-size: 2rem;
  cursor: pointer;
}

.header__mobile__menu__heading img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.header__mobile__menu__nav1 {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  padding: 10px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__mobile__menu__nav1 a {
  text-decoration: none;
  color: #282828;
  display: inline-block;
  margin: 0 auto;
  padding: 1rem;
}

.header__mobile__menu p {
  text-align: center;
  position: absolute;
  top: calc(100% - 2rem);
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  width: 100%;
}

.main__banner {
  border: 1px solid black;
  background-image: url("../ressources/images/homapage-banner-img.jpg");
  background-size: cover;
  height: 400px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__banner__container h2 {
  font-size: 2rem;
  font-weight: bold;
}

.main__banner__container h3 {
  font-size: 3rem;
  font-weight: bold;
  -webkit-text-stroke: 2px white;
  color: rgba(0, 0, 0, 0);
}

.main__banner.page_about {
  background-image: url("../ressources/images/banner-img.jpg");
  height: 200px;
}

.main__banner.page_about h4 {
  font-size: .8rem;
  font-weight: 600;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.main__banner.page_about span + span {
  padding-left: 1rem;
  position: relative;
}

.main__banner.page_about span + span::before {
  content: '';
  width: .3rem;
  height: .3rem;
  border-radius: .15rem;
  background-color: orange;
  position: absolute;
  top: 50%;
  left: .35rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main__banner.page_discography {
  background-image: url("../ressources/images/banner-img.jpg");
  height: 200px;
  margin-bottom: 3rem;
}

.main__banner.page_discography h4 {
  font-size: .8rem;
  font-weight: 600;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.main__banner.page_discography span + span {
  padding-left: 1rem;
  position: relative;
}

.main__banner.page_discography span + span::before {
  content: '';
  width: .3rem;
  height: .3rem;
  border-radius: .15rem;
  background-color: orange;
  position: absolute;
  top: 50%;
  left: .35rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main__touch {
  padding: 1rem;
}

.main__touch__text {
  font-weight: 300;
}

.main__touch__text h2 {
  font-size: 2rem;
  font-weight: 400;
  padding: 3rem 0 1rem 0;
  position: relative;
  display: inline-block;
  margin-bottom: 2rem;
}

.main__touch__text h2::after {
  content: "";
  position: absolute;
  width: 110%;
  height: 1px;
  background-color: #bdbdbd;
  bottom: 0;
  left: 0;
}

.main__touch__text ul {
  font-size: 1.2rem;
}

.main__touch__text ul .fas,
.main__touch__text ul .far {
  color: #bdbdbd;
  padding-right: 1rem;
}

.main__touch__text ul li {
  padding-bottom: 1rem;
}

.main__touch__text ul a {
  text-decoration: none;
  color: inherit;
}

.main__touch__text p {
  font-weight: 100;
  padding-block: 1rem;
  line-height: 1.5rem;
}

.main__touch__text p + p {
  font-weight: 200;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1.7rem;
}

.main__touch__text__signature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main__touch__text button {
  color: white;
  background-color: #8121e0;
  border: none;
  width: 55%;
  padding: 1.2rem 1rem;
  border-radius: .5rem;
  display: block;
  margin-top: 1rem;
}

.main__touch__image {
  padding-block: 1rem;
}

.main__touch__image img {
  max-width: 100%;
}

.main__concert {
  padding: 1rem;
  color: white;
  text-align: center;
}

.main__concert__container {
  background-color: #282828;
  border-radius: .5rem;
  padding: 1rem;
  -webkit-transform: translateY(-3rem);
          transform: translateY(-3rem);
}

.main__concert__container h2 {
  font-size: 2rem;
  font-weight: bold;
  padding-block: 1rem;
}

.main__concert__container__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
}

.main__concert__container__counter p:first-child {
  font-size: 2rem;
}

.main__concert__container button {
  color: white;
  background-color: #8121e0;
  border: none;
  width: 90%;
  padding: 1rem;
  border-radius: .5rem;
}

.main__about {
  padding: 1rem;
}

.main__about__image img {
  border-radius: .5rem;
  height: 100%;
  width: 100%;
}

.main__about__text h2 {
  font-size: 2rem;
  padding-block: 1rem;
}

.main__about__text p {
  padding-bottom: 1rem;
}

.main__about__text q {
  display: block;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

.main__discography {
  padding: 3rem 1rem 3rem 1rem;
  color: white;
  text-align: center;
  background-color: turquoise;
  background-image: url("../ressources/images/homepage-latest-releases-background.jpg");
  background-position: 0px -700%;
  background-size: cover;
  background-repeat: repeat-y;
}

.main__discography h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.main__discography button {
  color: white;
  background-color: #8121e0;
  border: none;
  width: 90%;
  padding: 1rem;
  border-radius: .5rem;
}

.main__releases {
  text-align: center;
}

.main__releases__description {
  padding: 1rem;
}

.main__releases__description h2 {
  font-size: 2rem;
  padding: 3rem 0 1rem 0;
}

.main__releases__description p {
  font-weight: 300;
}

.main__releases__album {
  padding: 1rem;
}

.main__releases__album img {
  width: 100%;
}

.main__releases__album figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__releases__album__title {
  font-size: 1.5rem;
  padding-block: 1rem;
}

.main__releases__album__date {
  font-size: .8rem;
  font-weight: 300;
}

.main__fanbase {
  background-color: #282828;
}

.main__fanbase__images {
  padding: 1rem;
  background-image: url("../ressources/images/bg-circle-2.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-size: 900%;
}

.main__fanbase__images img {
  max-width: 100%;
}

.main__fanbase__text {
  padding: 1rem;
  position: relative;
  color: white;
  isolation: isolate;
}

.main__fanbase__text::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../ressources/images/bg-circle-2.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-size: 900%;
  -webkit-transform: rotate(180);
          transform: rotate(180);
  -moz-transform: rotate(180deg);
  z-index: -1;
}

.main__fanbase__text i {
  font-size: 3rem;
  padding-block: 1rem;
}

.main__fanbase__text h2 {
  font-size: 2rem;
}

.main__fanbase__text h3 {
  font-size: 1.5rem;
  padding-block: 1rem;
}

.main__fanbase__text p {
  font-weight: 300;
}

.main__fanbase__text__item {
  text-align: center;
  padding-top: 2rem;
}

.main__fanbase__text__item:last-child {
  padding-bottom: 2rem;
}

.main__fanbase.page_about {
  background-color: #efefef;
}

.main__fanbase.page_about .main__fanbase__text {
  text-align: center;
  color: black;
  isolation: isolate;
}

.main__fanbase.page_about .main__fanbase__text::after {
  -webkit-transform: initial;
          transform: initial;
  -moz-transform: initial;
  z-index: -1;
}

.main__fanbase.page_about .main__fanbase__text h2 {
  padding-block: 2rem;
}

.main__partners {
  font-family: Poppins, sans-serif;
  color: white;
  text-align: center;
  font-style: 30px;
  background-image: url("../ressources/images/homepage-sponsors-background.jpg");
  height: 450px;
  background-size: cover;
}

.main__partners__p {
  padding: 60px;
  font-size: 30px;
}

.main__partners__ulsponsors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
}

.main__partners__ulsponsors img {
  max-width: 100%;
}

.main__images {
  text-align: center;
}

.main__images img {
  max-width: 100%;
}

.main__news {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.main__news__section {
  margin: 0 auto;
  text-align: justify;
  padding: 30px;
  width: 400px;
}

.main__subscribe {
  text-align: center;
  background-image: url("../ressources/images/homepage-footer-background.jpg");
  background-size: cover;
}

.main__subscribe__p1 {
  font-size: 30px;
  color: white;
  font-family: Poppins, sans-serif;
  text-align: center;
  padding: 60px;
}

.main__subscribe input {
  size: 30px;
}

.main .dotz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 130px;
}

.main .dotz li {
  padding: 15px;
}

.footer {
  background-color: #282828;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: Poppins, sans-serif;
  color: white;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer__figure {
  padding: 3rem 0 1rem 0;
}

.footer__nav1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  padding: 10px;
  font-weight: bold;
}

.footer__nav1 a {
  padding-block: .5rem;
}

.footer__nav2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
}

.footer__nav2 a {
  padding: 0 1rem;
}

.footer__nav2 i {
  background-color: #3e3e3e;
  height: 3rem;
  width: 3rem;
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer p {
  padding-bottom: 4rem;
}

.footer.page_discography {
  margin-top: 3rem;
}
/*# sourceMappingURL=main.css.map */